@charset "UTF-8";

* {margin: 0; padding: 0; letter-spacing: -.03em; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-print-color-adjust: exact !important; print-color-adjust: exact; word-break: keep-all; word-wrap: break-word; overflow-wrap: break-word; -webkit-overflow-scrolling: touch; /* page-break-after: avoid; page-break-before: avoid; page-break-inside: avoid; break-inside: avoid-page; break-before: avoid-page; break-after: avoid-page; */}
:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}
html {width: 100%; height: 100%; font-size: 10px;}
body {position: relative; font-family: "Pretendard_Regular", "맑은 고딕", "Malgun Gothic", sans-serif; font-weight: 400; font-size: 16px; color: #000; line-height: 1.3; height: 100%; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-overflow-scrolling: touch; -webkit-print-color-adjust: exact !important;}
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, table, tr, th, td {margin: 0; padding: 0; font-weight: normal;}
ul, ol, li {list-style: none;}
img, fieldset {border: none; vertical-align: top;}
legend, caption {visibility: hidden; overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0;}
textarea, button {vertical-align: middle;}
input, select {font-family: "Pretendard_Regular", "맑은 고딕", "Malgun Gothic", sans-serif; vertical-align: top;}
input {padding: 3px 20px; height: 50px;}
input[type="text"]::-ms-clear {display: none;}
input:focus, input:active {outline: none;}
.attach_area .file_div input[readonly] {pointer-events: none;}
option {padding: 3px 10px;}
option:focus, option:active {outline: none;}
input[type="radio"], input[type="checkbox"] {border: 0; padding: 0; height: auto; -webkit-box-shadow: none; box-shadow: none;}
input[type="password"] {height: 40px; border: 1px solid #e5e5e5; color: #888; background: #fff; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none;}
input[type="password"]::-webkit-input-placeholder {color: #8a8a8a;}
input[type="password"]:-ms-input-placeholder {color: #8a8a8a;}
input[type="password"]::-ms-input-placeholder {color: #8a8a8a;}
input[type="password"]::placeholder {color: #8a8a8a;}
input[type="password"]:disabled {color: #999; background-color: #f3f3f3;}
input[type="password"].readonly {color: #999; background-color: #f3f3f3;}
input[type="password"][readonly=readonly] {color: #999; background-color: #f3f3f3;}
input[type="text"] {background: #fff; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none;}
input[type="text"]::-webkit-input-placeholder {color: #8a8a8a;}
input[type="text"]:-ms-input-placeholder {color: #8a8a8a;}
input[type="text"]::-ms-input-placeholder {color: #8a8a8a;}
input[type="text"]::placeholder {color: #8a8a8a;}
input[type="text"]:disabled {color: #999; background-color: #e9e9e9;}
input[type="text"]:-moz-read-only {color: #999; background-color: #e9e9e9;}
input[type="text"]:read-only {color: #999; background-color: #e9e9e9; border: 1px solid #e9e9e9;}
input[type="text"].readonly {color: #999; background-color: #e9e9e9;}
input[type="text"]:disabled + .cal_btn {opacity: .5;}
input[type="tel"] {background: #fff; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none;}
input[type="tel"]::-webkit-input-placeholder {color: #8a8a8a;}
input[type="tel"]:-ms-input-placeholder {color: #8a8a8a;}
input[type="tel"]::-ms-input-placeholder {color: #8a8a8a;}
input[type="tel"]::placeholder {color: #8a8a8a;}
input[type="tel"]:disabled {color: #999; background-color: #f3f3f3;}
input[type="tel"]:-moz-read-only {color: #999; background-color: #f3f3f3;}
input[type="tel"]:read-only {color: #999; background-color: #f3f3f3;}
input[type="tel"].readonly {color: #999; background-color: #f3f3f3;}
input[type="tel"]:disabled + .cal_btn {opacity: .5;}
input[type="number"]::-webkit-input-placeholder {color: #8a8a8a;}
input[type="number"]:-ms-input-placeholder {color: #8a8a8a;}
input[type="number"]::-ms-input-placeholder {color: #8a8a8a;}
input[type="number"]::placeholder {color: #8a8a8a;}
input[type="number"]:disabled {color: #999; background-color: #f3f3f3;}
input[type="number"]:-moz-read-only {color: #999; background-color: #f3f3f3;}
input[type="number"]:read-only {color: #999; background-color: #f3f3f3;}
input[type="number"].readonly {color: #999; background-color: #f3f3f3;}
select {font-size: 18px; color: #888; appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; vertical-align: top;}
select::-ms-expand {display: none;}
select:focus, select:active {outline: none;}
select:disabled {color: #999; background-color: #e9e9e9; opacity: 1;}
textarea {padding: 10px 20px; font-family: "Pretendard_Regular", "맑은 고딕", "Malgun Gothic", sans-serif; font-size: 18px; color: #333; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none; border-radius: 0; vertical-align: top; background: #fff; border: 1px solid #e5e5e5; resize: none;}
textarea:focus, textarea:active {outline: none;}
textarea::-webkit-input-placeholder {color: #8a8a8a;}
textarea:-ms-input-placeholder {color: #8a8a8a;}
textarea::-ms-input-placeholder {color: #8a8a8a;}
textarea::placeholder {color: #8a8a8a;}
textarea:disabled {color: #999; background-color: #f3f3f3;}
textarea:-moz-read-only {color: #999; background-color: #f3f3f3;}
textarea:read-only {color: #999; background-color: #f3f3f3;}
a {text-decoration: none; color: #333;}
a:hover, a:focus, a:active {text-decoration: none;}
table {width: 100%; border-collapse: collapse;}
button {background: none; border: none; padding: 0; margin: 0; font-family: "Pretendard_Regular", "맑은 고딕", "Malgun Gothic", sans-serif; font-size: 18px; cursor: pointer; overflow: visible; white-space: nowrap;}
/* button:focus, button:active { outline: none; } */
button::-moz-focus-inner {padding: 0; border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
::selection {color: #fff; background-color: #ff5050;}

body {height: 100%;}
body.stop_scroll {overflow: hidden; height: 100%; min-height: 100%; touch-action: none;}
body.lock {position: fixed; width: 100%;}
#wrap {overflow: hidden; position: relative; width: 100%; background: #f7f2ef;}
#wrap.bright {background: #fdfaf7;}

.inner{margin:0 auto; width:1280px;}

/* visual */
.visual_div{position:relative; width:100%; height:100vh;}
.visual_div .bg{position:absolute; top:0; left:0; width:100%; height:100%;}
.visual_div .bg:after{display:block; content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5)}
.visual_div .bg img{width:100%; height:100%;}
.visual_div .visual_tit{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:90%; text-align: center; font-size:160px; letter-spacing:2px; color:#fff; font-family: "Pretendard_ExtraBold", sans-serif;}
.visual_div .visual_tit .typo_motion{opacity:0;}
.visual_div .visual_tit .typo_motion span{position:relative; left:80px; letter-spacing: 3px; opacity:0;}

/* footer */
footer{padding:50px 0; text-align:center; background:#131635}
footer p{font-family: "Pretendard_Medium", sans-serif; color:#fff;}
footer .copyright{margin-top:5px;}
