@charset "UTF-8";

* {margin: 0; padding: 0; letter-spacing: -.01em; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-print-color-adjust: exact !important; print-color-adjust: exact; word-break: keep-all; word-wrap: break-word; overflow-wrap: break-word; -webkit-overflow-scrolling: touch; /* page-break-after: avoid; page-break-before: avoid; page-break-inside: avoid; break-inside: avoid-page; break-before: avoid-page; break-after: avoid-page; */}
:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}
html {width: 100%; height: 100%; font-size: 10px;}
body {position: relative; font-family: "Pretendard_Regular", "맑은 고딕", "Malgun Gothic", sans-serif; font-weight: 400; font-size: 16px; color: #000; line-height: 1.3; height: 100%; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-overflow-scrolling: touch; -webkit-print-color-adjust: exact !important;}
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, table, tr, th, td {margin: 0; padding: 0; font-weight: normal;}
ul, ol, li {list-style: none;}
img, fieldset {border: none; vertical-align: top;}
legend, caption {visibility: hidden; overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0;}
textarea, button {vertical-align: middle;}
input, select {font-family: "Pretendard_Regular", "맑은 고딕", "Malgun Gothic", sans-serif; vertical-align: top;}
input {padding: 3px 20px; height: 50px;}
input[type="text"]::-ms-clear {display: none;}
input:focus, input:active {outline: none;}
.attach_area .file_div input[readonly] {pointer-events: none;}
option {padding: 3px 10px;}
option:focus, option:active {outline: none;}
input[type="radio"], input[type="checkbox"] {border: 0; padding: 0; height: auto; -webkit-box-shadow: none; box-shadow: none;}
input[type="password"] {height: 40px; border: 1px solid #e5e5e5; color: #888; background: #fff; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none;}
input[type="password"]::-webkit-input-placeholder {color: #8a8a8a;}
input[type="password"]:-ms-input-placeholder {color: #8a8a8a;}
input[type="password"]::-ms-input-placeholder {color: #8a8a8a;}
input[type="password"]::placeholder {color: #8a8a8a;}
input[type="password"]:disabled {color: #999; background-color: #f3f3f3;}
input[type="password"].readonly {color: #999; background-color: #f3f3f3;}
input[type="password"][readonly=readonly] {color: #999; background-color: #f3f3f3;}
input[type="text"] {background: #fff; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none;}
input[type="text"]::-webkit-input-placeholder {color: #8a8a8a;}
input[type="text"]:-ms-input-placeholder {color: #8a8a8a;}
input[type="text"]::-ms-input-placeholder {color: #8a8a8a;}
input[type="text"]::placeholder {color: #8a8a8a;}
input[type="text"]:disabled {color: #999; background-color: #e9e9e9;}
input[type="text"]:-moz-read-only {color: #999; background-color: #e9e9e9;}
input[type="text"]:read-only {color: #999; background-color: #e9e9e9; border: 1px solid #e9e9e9;}
input[type="text"].readonly {color: #999; background-color: #e9e9e9;}
input[type="text"]:disabled + .cal_btn {opacity: .5;}
input[type="tel"] {background: #fff; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none;}
input[type="tel"]::-webkit-input-placeholder {color: #8a8a8a;}
input[type="tel"]:-ms-input-placeholder {color: #8a8a8a;}
input[type="tel"]::-ms-input-placeholder {color: #8a8a8a;}
input[type="tel"]::placeholder {color: #8a8a8a;}
input[type="tel"]:disabled {color: #999; background-color: #f3f3f3;}
input[type="tel"]:-moz-read-only {color: #999; background-color: #f3f3f3;}
input[type="tel"]:read-only {color: #999; background-color: #f3f3f3;}
input[type="tel"].readonly {color: #999; background-color: #f3f3f3;}
input[type="tel"]:disabled + .cal_btn {opacity: .5;}
input[type="number"]::-webkit-input-placeholder {color: #8a8a8a;}
input[type="number"]:-ms-input-placeholder {color: #8a8a8a;}
input[type="number"]::-ms-input-placeholder {color: #8a8a8a;}
input[type="number"]::placeholder {color: #8a8a8a;}
input[type="number"]:disabled {color: #999; background-color: #f3f3f3;}
input[type="number"]:-moz-read-only {color: #999; background-color: #f3f3f3;}
input[type="number"]:read-only {color: #999; background-color: #f3f3f3;}
input[type="number"].readonly {color: #999; background-color: #f3f3f3;}
select {font-size: 18px; color: #888; appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; vertical-align: top;}
select::-ms-expand {display: none;}
select:focus, select:active {outline: none;}
select:disabled {color: #999; background-color: #e9e9e9; opacity: 1;}
textarea {padding: 10px 20px; font-family: "Pretendard_Regular", "맑은 고딕", "Malgun Gothic", sans-serif; font-size: 18px; color: #333; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none; border-radius: 0; vertical-align: top; background: #fff; border: 1px solid #e5e5e5; resize: none;}
textarea:focus, textarea:active {outline: none;}
textarea::-webkit-input-placeholder {color: #8a8a8a;}
textarea:-ms-input-placeholder {color: #8a8a8a;}
textarea::-ms-input-placeholder {color: #8a8a8a;}
textarea::placeholder {color: #8a8a8a;}
textarea:disabled {color: #999; background-color: #f3f3f3;}
textarea:-moz-read-only {color: #999; background-color: #f3f3f3;}
textarea:read-only {color: #999; background-color: #f3f3f3;}
a {text-decoration: none; color: #333;}
a:hover, a:focus, a:active {text-decoration: none;}
table {width: 100%; border-collapse: collapse;}
button {background: none; border: none; padding: 0; margin: 0; font-family: "Pretendard_Regular", "맑은 고딕", "Malgun Gothic", sans-serif; font-size: 18px; cursor: pointer; overflow: visible; white-space: nowrap;}
/* button:focus, button:active { outline: none; } */
button::-moz-focus-inner {padding: 0; border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
::selection {color: #fff; background-color: #ff5050;}

body {height: 100%;}
body.stop_scroll {overflow: hidden; height: 100%; min-height: 100%; touch-action: none;}
body.lock {position: fixed; width: 100%;}
#wrap {overflow: hidden; position: relative; width: 100%;}

.inner {margin: 0 auto; width: 1520px;}

.red_txt {color: #e60808;}

/* visual */
.visual_area {position: relative; width: 100%; height: 100vh;}
.visual_area .visual_div {position: relative; width: 100%; height: 100%;}
.visual_area .visual_div .tit_motion {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 1280px; text-align: center; z-index: 2;}
.visual_area .visual_div .visual_tit span {font-size: 120px; color: #fff; font-family: "Pretendard_ExtraBold", sans-serif; letter-spacing: 1px; line-height: 1; opacity: 0;}
.visual_area .visual_div .visual_tit span:last-child {position: relative; padding-right: 20px;}
.visual_area .visual_div .visual_tit span:last-child:after {display: block; content: ""; position: absolute; right: 0; top: 13px; width: 20px; height: 20px; background: #2eb7bd; border-radius: 50%;}
.visual_area .visual_div .control_area {position: absolute; top: 50%; right: 54px; transform: translateY(-50%); opacity: 0; transition: opacity .7s ease; z-index: 2;}
.visual_area.active .visual_div .control_area {opacity: 1; transition-delay: .4s;}
.visual_area .visual_div .slide_num {display: flex; align-items: center; flex-direction: column; color: #fff; font-size: 12px;}
/* .visual_area .visual_div .slide_num > p{position:absolute; top:-2px;} */
.visual_area .visual_div .slide_num .total_num {left: 130px;}
.visual_area .visual_div .progress_bar {margin: 20px 0; width: 2px; height: 140px; background: rgba(255, 255, 255, .2);}
.visual_area .visual_div .progress_bar .bar {width: 100%; height: 0; background: #fff;}
.visual_area .bg_img {position: absolute; top: 0; left: 50%; transform: translateX(-50%); min-width: 1700px; width: 100vw; height: 100vh; min-height: 700px;}
.visual_area .bg_img .swiper-slide {position: relative;}
/* .visual_area .bg_img .swiper-slide:after{display:block; content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5)} */
.visual_area .bg_img .swiper-slide .img {position: absolute; top: 0; left: 0; width: calc(100% + 180px); height: 100%; transform: translateX(0);}
.visual_area .scroll {position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); width: 26px; height: 40px; border: 2px solid #fff; border-radius: 15px; z-index: 1;}
.visual_area .scroll .dot {position: absolute; top: 7px; left: 50%; transform: translateX(-50%); width: 4px; height: 4px; background: #2eb7bd; border-radius: 50%; animation: dot_motion .7s ease-in infinite alternate;}
@-webkit-keyframes dot_motion {
  0% {
    top: 7px;
  }
  100% {
    top: 25px;
  }
}

/* section */
section .big_title {position: relative; top: 80px; text-align: center; font-size: 80px; line-height: 1; font-family: "Pretendard_Bold", sans-serif; opacity: 0; transition: top .9s ease, opacity .9s ease;}
section .big_title span {position: relative;}
section .big_title span:after {display: block; content: ""; position: absolute; top: 6px; right: -28px; width: 16px; height: 16px; background: #2eb7bd; border-radius: 50%;}
section .sub_tit {position: relative; top: 80px; margin-top: 24px; text-align: center; font-size: 20px; line-height: 24px; opacity: 0; transition: top .9s ease, opacity .9s ease;}
section.active .big_title {top: 0; opacity: 1;}
section.active .sub_tit {top: 0; opacity: 1; transition-delay: .1s;}

/* sectino tool */
section.tools_div {padding: 220px 0 240px;}
section .tools_list {display: flex; align-items: center; justify-content: center; margin: 110px auto 0; width: 1050px;}
section .tools_list .tools {display: flex; flex-wrap: wrap; justify-content: center; position: relative; top: 80px; margin-right: 30px; width: calc(100% - 90px); width: -webkit-calc(100% - 90px); opacity: 0; transition: top .9s ease, opacity .9s ease; border-radius: 50%; background: #000;}
section .tools_list .tools.xd {background: #470137;}
section .tools_list .tools.photoshop {background: #001732;}
section .tools_list .tools .border {position: relative; width: 100%; padding-top: 100%; text-align: center; border-radius: 50%; transition: box-shadow .5s ease;}
section .tools_list .tools .border:hover {box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .2);}
section .tools_list .tools:last-child {margin-right: 0;}
section .tools_list .tools .icon {display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
section .tools_list .tools .icon img {width: 100px;}
section .tools_list .tools:nth-child(1) .txt:after {background: #d8f3fc;}
section .tools_list .tools:nth-child(2) .txt:after {background: #ff61f6;}
section .tools_list .tools:nth-child(3) .txt:after {background: #fbb936;}
section .tools_list .tools:nth-child(4) .txt:after {background: #ff7361;}
section .tools_list .tools:hover .txt:after {width: 100%;}
section.active .tools_list > * {top: 0; opacity: 1;}
section.active .tools_list > *:nth-child(1) {transition-delay: .3s;}
section.active .tools_list > *:nth-child(2) {transition-delay: .4s;}
section.active .tools_list > *:nth-child(3) {transition-delay: .5s;}
section.active .tools_list > *:nth-child(4) {transition-delay: .6s;}

/* section portfolio */
section.portfolio {padding: 240px 0 280px; background: #212121;}
section.portfolio .big_title {color: #fff;}
section.portfolio .sub_tit {color: #fff;}
section .tab_func_area {margin-top: 120px;}
section .tab_btn_area {display: flex; justify-content: center; position: relative; top: 80px; width: 100%; opacity: 0; transition: top .9s ease, opacity .9s ease;}
section .tab_btn_area.active {top: 0; opacity: 1;}
section .tab_btn_area .btn {position: relative; padding: 20px 40px; font-size: 24px;}
section .tab_btn_area .btn.on:after {display: block; content: ""; position: absolute; bottom: -2px; left: 50%; transform: translateX(-50%); width: calc(100% - 60px); width: -webkit-calc(100% - 60px); height: 4px; background: #2eb7bd;}
section .tab_btn_area .btn span {color: #777; font-family: "Pretendard_SemiBold", sans-serif;}
section .tab_btn_area .btn.on span {color: #fff;}
section .tab_con_area {margin-top: 110px;}
section .tab_con_area .tab_con {display: none;}
section .tab_con_area .tab_con.on {display: block;}
section .tab_con_area .noti_txt {color: #fff; font-family: "Pretendard_Medium", sans-serif; font-size: 18px; line-height: 28px;}
section .tab_con_area .list_wrap {display: flex; flex-wrap: wrap;}
section .tab_con_area .list_wrap .list_div {margin: 40px 50px 0 0; width: calc((100% - 100px) / 3); width: -webkit-calc((100% - 100px) / 3);}
section .tab_con_area .list_wrap .list {position: relative; top: 80px; opacity: 0; transition: top 1s ease, opacity .5s ease;}
section .tab_con_area .list_wrap .list.no_click {cursor: auto;}
section .tab_con_area .list_wrap.active .list {top: 0; opacity: 1;}
section .tab_con_area .list_wrap.active .list_div:nth-child(2) .list {transition-delay: .1s;}
section .tab_con_area .list_wrap.active .list_div:nth-child(3) .list {transition-delay: .2s;}
section .tab_con_area .list_wrap.active .list_div:nth-child(4) .list {transition-delay: .3s;}
section .tab_con_area .list_wrap.active .list_div:nth-child(5) .list {transition-delay: .4s;}
section .tab_con_area .list_wrap.active .list_div:nth-child(6) .list {transition-delay: .5s;}
section .tab_con_area .list_wrap.active .list_div:nth-child(7) .list {transition-delay: .6s;}
section .tab_con_area .list_wrap.active .list_div:nth-child(8) .list {transition-delay: .7s;}
section .tab_con_area .list_wrap.active .list_div:nth-child(9) .list {transition-delay: .8s;}
section .tab_con_area .list_wrap.active .list_div:nth-child(10) .list {transition-delay: .9s;}
section .tab_con_area .list_wrap.active .list_div:nth-child(11) .list {transition-delay: 1s;}
section .tab_con_area .list_wrap .list_div:nth-child(3n) {margin-right: 0;}
section .tab_con_area .list_wrap .list_div:nth-child(1), section .tab_con_area .list_wrap .list_div:nth-child(2), section .tab_con_area .list_wrap .list_div:nth-child(3) {margin-top: 0;}
section .tab_con_area .list_wrap .list_div .list .list_w {overflow: hidden; position: relative; top: 0; height: 100%; transition: top .5s ease, box-shadow .5s ease;}
section .tab_con_area .list_wrap .list_div .list .img_area {overflow: hidden; position: relative; padding-top: 56%; border-radius: 16px;}
section .tab_con_area .list_wrap .list_div .list .img_area img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 100%;}
section .tab_con_area .list_wrap .list_div .list .img_area.no_img {background: #404040;}
section .tab_con_area .list_wrap .list_div .list .img_area.no_img img {width: 80px;}
section .tab_con_area .list_wrap .list_div .list .txt_div {padding: 40px 0; width: 100%; height: 210px; transition: height .5s ease;}
section .tab_con_area .list_wrap .list_div .list .txt_div .tit {margin-top: 13px; font-size: 28px; font-family: "Pretendard_Semibold", sans-serif; color: #fff;}
section .tab_con_area .list_wrap .list_div .list .txt_div .tit span {position: relative; z-index: 1;}
/* section .tab_con_area .list_wrap .list_div .list .txt_div .tit span:after{display:block; content:""; position:absolute; top:0; left:0; width:0; height:100%; transform: skew(-15deg); transition:width 0.5s ease; z-index:-1; opacity:0.5;  background:#75c8cc} */
section .tab_con_area .list_wrap .list_div .list .txt_div .view {position: absolute; bottom: 0; left: 0; opacity: 0; color: #fff; transition: bottom .5s ease, opacity .5s ease;}
section .tab_con_area .list_wrap .list_div .list:hover .list_w {top: -10px;}
/* section .tab_con_area .list_wrap .list:hover .txt_div{height:180px;} */
section .tab_con_area .list_wrap .list_div .list:hover .txt_div .view {bottom: 30px; opacity: 1;}
section .tab_con_area .list_wrap .list_div .list:hover .txt_div .tit span:after {width: 100%;}
section .tab_con_area .list_wrap .txt_list_div {margin: 100px 50px 0 0; width: calc((100% - 100px) / 3); width: -webkit-calc((100% - 100px) / 3);}
section .tab_con_area .list_wrap .txt_list_div:nth-child(3n) {margin-right: 0;}
section .tab_con_area .list_wrap .txt_list_div .list {display: block;}
section .tab_con_area .list_wrap .txt_list_div .list .list_w {overflow: hidden; position: relative; top: 0; padding: 70px 90px 70px 35px; background: url("https://raw.githack.com/Hseongju/portfolio/main/common/images/icon-url-link.svg") no-repeat right 25px center; border: 1px solid #fff; border-radius: 20px; transition: top .4s ease, border .4s ease;}
section .tab_con_area .list_wrap .txt_list_div:nth-child(1) .list {transition-delay: .1s;}
section .tab_con_area .list_wrap .txt_list_div:nth-child(2) .list {transition-delay: .2s;}
section .tab_con_area .list_wrap .txt_list_div:nth-child(3) .list {transition-delay: .3s;}
section .tab_con_area .list_wrap .txt_list_div:nth-child(4) .list {transition-delay: .4s;}
section .tab_con_area .list_wrap .txt_list_div:nth-child(5) .list {transition-delay: .5s;}
section .tab_con_area .list_wrap .txt_list_div:nth-child(6) .list {transition-delay: .6s;}
section .tab_con_area .list_wrap .txt_list_div:nth-child(7) .list {transition-delay: .7s;}
section .tab_con_area .list_wrap .txt_list_div:nth-child(8) .list {transition-delay: .8s;}
section .tab_con_area .list_wrap .txt_list_div:hover .list .list_w {top: -10px; border: 1px solid #2eb7bd;}
section .tab_con_area .list_wrap .txt_list_div .tit {color: #fff; font-size: 28px; line-height: 33px; font-family: "Pretendard_Semibold", sans-serif;}
section .tab_con_area .list_wrap .txt_list_div .view {margin-top: 24px; color: #2eb7bd; font-size: 20px; line-height: 24px; font-family: "Pretendard_Medium", sans-serif;}
section .label_div {display: flex; flex-wrap: wrap;}
section .label_div .label {margin-right: 5px; padding: 5px 20px 4px; color: #fff; font-size: 16px; font-family: "Pretendard_Regular", sans-serif; background: #06a4ab; border-radius: 15px;}
section .label_div .label.pc {background: #569cc7;}
section .label_div .label.mobile {background: #316bc6;}
section .label_div .label.no_show {background: #8a0606;}

/* 팝업 */
.list_pop {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, .4); z-index: 10;}
.list_pop .pop_wrap {position: absolute; top: 50%; left: 50%; /*  transform:translate(-50%, -50%); */ width: 1000px; max-height: 80vh; min-height: 80vh; background: #fff; border-radius: 10px;}
.list_pop .pop_wrap .pop_head {padding: 30px 40px 0 40px;}
.list_pop .pop_wrap .pop_head .title {padding: 0 30px 20px 0; font-size: 24px; font-family: "Pretendard_Medium", sans-serif; border-bottom: 1px solid #ccc;}
.list_pop .pop_wrap .pop_cont .for_padding {padding: 20px 15px 30px 40px; height: 100%;}
.list_pop .pop_wrap .pop_cont .for_padding .scroll_area {overflow-y: auto; padding-right: 20px; height: 100%;}
.list_pop .pop_wrap .pop_cont .for_padding .scroll_area::-webkit-scrollbar {margin: 4px 0; width: 4px; border-radius: 4px; background: #ccc; background-position: center 0;}
.list_pop .pop_wrap .pop_cont .for_padding .scroll_area::-webkit-scrollbar-thumb {border-radius: 3px; -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0); box-shadow: inset 0 0 0 rgba(0, 0, 0, 0); background-color: #979797;}
.list_pop .pop_wrap .pop_cont .for_padding .scroll_area .view_site {display: inline-block; margin-bottom: 20px;}
.list_pop .pop_wrap .pop_cont .for_padding .scroll_area .view_site span {padding-right: 25px; font-size: 22px; font-family: "Pretendard_Bold", sans-serif; background: url("https://raw.githack.com/Hseongju/portfolio/main/common/images/icon-right-arrow.png") no-repeat right 5px top 7px/15px; transition: background .3s ease;}
.list_pop .pop_wrap .pop_cont .for_padding .scroll_area .view_site:hover span {background: url("https://raw.githack.com/Hseongju/portfolio/main/common/images/icon-right-arrow.png") no-repeat right 0 top 7px/15px;}
.list_pop .pop_wrap .pop_cont .for_padding .scroll_area .con_txt .txt {font-size: 18px;}
.list_pop .pop_wrap .pop_cont .for_padding .scroll_area .con_txt .txt + .txt {margin-top: 10px;}
.list_pop .pop_wrap .pop_cont .for_padding .scroll_area .con_txt .txt span {font-family: "Pretendard_Medium", sans-serif;}
.list_pop .pop_wrap .pop_cont .for_padding .scroll_area .img {overflow: hidden; margin-top: 30px;}
.list_pop .pop_wrap .pop_cont .for_padding .scroll_area .img img {width: 100%; border: 1px solid #ccc;}
.list_pop .pop_wrap .btn_close {position: absolute; top: 33px; right: 40px; width: 24px; height: 24px; background: url("https://raw.githack.com/Hseongju/portfolio/main/common/images/btn-layer-popup-close-x.svg") no-repeat center center/cover;}

/* footer */
footer {padding: 50px 0; text-align: left; background: #000;}
footer p {font-size: 14px; font-family: "Pretendard_Medium", sans-serif; color: #bebebe;}
footer .copyright {margin-top: 15px;}

/* 타이포 모션 공통 */
.typo_motion {opacity: 0;}
.typo_motion span {position: relative; left: 80px; opacity: 0;}

/* 탑버튼 */
.btn_top {display: none; position: fixed; bottom: 40px; right: 60px; justify-content: center; width: 50px; height: 50px; border-radius: 50%; background: rgba(0, 0, 0, 1); z-index: 10;}
.btn_top span {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; font-size: 14px; font-family: "Pretendard_Medium", sans-serif;}
.btn_top svg {position: relative; left: -1px; top: -1px; width: 52px; height: 52px; transform: rotate(-90deg); opacity: 1;}
.btn_top .svg_circle {stroke-dashoffset: 163; stroke-dasharray: 210;}
.btn_top.view svg {opacity: 1;}

@media screen and (max-width:1580px) {
  .inner {width: 90%;}

  .btn_top {right: 5%;}
}

@media screen and (max-width:1280px) {
  .visual_area .visual_div .tit_motion {width: 90%;}
  .visual_area .visual_div .visual_tit span {font-size: 80px;}
  .visual_area .visual_div .control_area {right: 30px;}

  section .tools_list {width: 100%;}
}

@media screen and (max-width:1024px) {
  .visual_area .visual_div .visual_tit span {font-size: 60px;}
  .visual_area .visual_div .visual_tit span:last-child:after {width: 15px; height: 15px;}
  
  section .big_title {font-size: 60px;}

  section.tools_div {padding: 160px 0 180px;}
  section .tools_list {flex-wrap: wrap;}
  section .tools_list .tools {margin: 30px 30px 0 0; width: calc((100% - 30px) / 2); width: -webkit-calc((100% - 30px) / 2);}
  section .tools_list .tools:nth-child(1), section .tools_list .tools:nth-child(2) {margin-top: 0;}
  section .tools_list .tools:nth-child(2n) {margin-right: 0;}

  section.portfolio {padding: 180px 0 220px;}
  section .tab_func_area {margin-top: 90px;}
  section .tab_con_area {margin-top: 80px;}
  section .tab_con_area .list_wrap .list_div {width: calc((100% - 50px) / 2); width: -webkit-calc((100% - 50px) / 2);}
  section .tab_con_area .list_wrap .list_div:nth-child(3n) {margin-right: 50px;}
  section .tab_con_area .list_wrap .list_div:nth-child(2n) {margin-right: 0;}
  section .tab_con_area .list_wrap .list_div:nth-child(3) {margin-top: 50px;}
  section .tab_con_area .list_wrap .list_div .list:hover .list_w {top: 0;}
  section .tab_con_area .list_wrap .list_div .list .txt_div .view {bottom: 30px; opacity: 1;}
  section .tab_con_area .list_wrap .txt_list_div {width: calc((100% - 50px) / 2); width: -webkit-calc((100% - 50px) / 2);}
  section .tab_con_area .list_wrap .txt_list_div:nth-child(3n) {margin-right: 50px;}
  section .tab_con_area .list_wrap .txt_list_div:nth-child(2n) {margin-right: 0;}
  section .tab_con_area .list_wrap .txt_list_div .list .list_w:hover {top: 0; border: 1px solid #fff;}

  .list_pop .pop_wrap {width: 90%;}
}

@media screen and (max-width:768px) {
  .visual_area .visual_div .tit_motion {left: 5%; transform: translate(0, -50%); width: 300px; text-align: left;}
  .visual_area .visual_div .visual_tit span {font-size: 40px;}
  .visual_area .visual_div .visual_tit span:last-child {padding-right: 10px;}
  .visual_area .visual_div .visual_tit span:last-child:after {top: 5px; width: 10px; height: 10px;}
  .visual_area .visual_div .control_area {right: 5%;}
  .visual_area .visual_div .progress_bar {margin: 10px 0; height: 100px;}

  section .big_title {font-size: 40px;}
  section .big_title span:after {right: -15px; width: 10px; height: 10px;}
  section .sub_tit {margin-top: 12px; font-size: 16px;}

  section.tools_div {padding: 110px 0 120px;}
  section .tools_list {margin: 50px auto 0;}
  section .tools_list .tools .icon img {width: 60px;}

  section.portfolio {padding: 120px 0;}
  section .tab_func_area {margin-top: 60px;}
  section .tab_btn_area .btn {padding: 10px 20px; font-size: 20px;}
  section .tab_btn_area .btn.on:after {width: calc(100% - 30px); width: -webkit-calc(100% - 30px);}
  section .tab_con_area {margin-top: 60px;}
  section .tab_con_area .list_wrap .list_div {margin: 20px 0 0 0; width: 100%;}
  section .tab_con_area .list_wrap .list_div:nth-child(3n) {margin-right: 0;}
  section .tab_con_area .list_wrap .list_div:nth-child(1), section .tab_con_area .list_wrap .list_div:nth-child(2), section .tab_con_area .list_wrap .list_div:nth-child(3) {margin-top: 20px;}
  section .tab_con_area .list_wrap .list_div .list .txt_div {padding: 25px 0; height: 150px;}
  section .tab_con_area .list_wrap .list_div .list .txt_div .tit {font-size: 20px;}
  section .tab_con_area .list_wrap .list_div .list:hover .txt_div .view {bottom: 10px;}
  section .tab_con_area .list_wrap .txt_list_div {margin: 50px 0 0 0; width: 100%;}
  section .tab_con_area .list_wrap .txt_list_div:nth-child(3n) {margin-right: 0;}
  section .tab_con_area .list_wrap .txt_list_div .list .list_w {padding: 35px 60px 35px 25px; background: url("https://raw.githack.com/Hseongju/portfolio/main/common/images/icon-url-link.svg") no-repeat right 25px center/35px;}
  section .tab_con_area .list_wrap .txt_list_div .tit {font-size: 20px; line-height: 25px;}
  section .tab_con_area .list_wrap .txt_list_div .view {margin-top: 15px; font-size: 18px; line-height: 22px;}
  section .tab_con_area .noti_txt {font-size: 16px; line-height: 26px;}

  section .label_div .label {padding: 5px 10px 3px; font-size: 12px;}
  
  .list_pop .pop_wrap .pop_head {padding: 15px 20px 0 20px;}
  .list_pop .pop_wrap .pop_head .title {padding: 0 30px 10px 0; font-size: 20px;}
  .list_pop .pop_wrap .btn_close {top: 18px; right: 20px; width: 20px; height: 20px;}
  .list_pop .pop_wrap .pop_cont .for_padding {padding: 10px 10px 15px 20px;}
  .list_pop .pop_wrap .pop_cont .for_padding .scroll_area .view_site {margin-bottom: 10px;}
  .list_pop .pop_wrap .pop_cont .for_padding .scroll_area .view_site span {padding-right: 18px; font-size: 18px; background: url("https://raw.githack.com/Hseongju/portfolio/main/common/images/icon-right-arrow.png") no-repeat right 0 top 4px/13px;}
  .list_pop .pop_wrap .pop_cont .for_padding .scroll_area .con_txt .txt {font-size: 16px;}
  .list_pop .pop_wrap .pop_cont .for_padding .scroll_area .img {margin-top: 15px;}

  footer .copyright {margin-top: 10px;}
}

@media screen and (max-width:320px) {
  .visual_area .visual_div .tit_motion {width: 220px;}
  .visual_area .visual_div .visual_tit span {font-size: 35px;}
}

