@charset "UTF-8";

* {margin: 0; padding: 0; letter-spacing: -.03em; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-print-color-adjust: exact !important; print-color-adjust: exact; word-break: keep-all; word-wrap: break-word; overflow-wrap: break-word; -webkit-overflow-scrolling: touch; /* page-break-after: avoid; page-break-before: avoid; page-break-inside: avoid; break-inside: avoid-page; break-before: avoid-page; break-after: avoid-page; */}
:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}
html {width: 100%; height: 100%; font-size: 10px;}
body {position: relative; font-family: "Pretendard_Regular", "맑은 고딕", "Malgun Gothic", sans-serif; font-weight: 400; font-size: 16px; color: #000; line-height: 1.3; height: 100%; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-overflow-scrolling: touch; -webkit-print-color-adjust: exact !important;}
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, table, tr, th, td {margin: 0; padding: 0; font-weight: normal;}
ul, ol, li {list-style: none;}
img, fieldset {border: none; vertical-align: top;}
legend, caption {visibility: hidden; overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0;}
textarea, button {vertical-align: middle;}
input, select {font-family: "Pretendard_Regular", "맑은 고딕", "Malgun Gothic", sans-serif; vertical-align: top;}
input {padding: 3px 20px; height: 50px;}
input[type="text"]::-ms-clear {display: none;}
input:focus, input:active {outline: none;}
.attach_area .file_div input[readonly] {pointer-events: none;}
option {padding: 3px 10px;}
option:focus, option:active {outline: none;}
input[type="radio"], input[type="checkbox"] {border: 0; padding: 0; height: auto; -webkit-box-shadow: none; box-shadow: none;}
input[type="password"] {height: 40px; border: 1px solid #e5e5e5; color: #888; background: #fff; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none;}
input[type="password"]::-webkit-input-placeholder {color: #8a8a8a;}
input[type="password"]:-ms-input-placeholder {color: #8a8a8a;}
input[type="password"]::-ms-input-placeholder {color: #8a8a8a;}
input[type="password"]::placeholder {color: #8a8a8a;}
input[type="password"]:disabled {color: #999; background-color: #f3f3f3;}
input[type="password"].readonly {color: #999; background-color: #f3f3f3;}
input[type="password"][readonly=readonly] {color: #999; background-color: #f3f3f3;}
input[type="text"] {background: #fff; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none;}
input[type="text"]::-webkit-input-placeholder {color: #8a8a8a;}
input[type="text"]:-ms-input-placeholder {color: #8a8a8a;}
input[type="text"]::-ms-input-placeholder {color: #8a8a8a;}
input[type="text"]::placeholder {color: #8a8a8a;}
input[type="text"]:disabled {color: #999; background-color: #e9e9e9;}
input[type="text"]:-moz-read-only {color: #999; background-color: #e9e9e9;}
input[type="text"]:read-only {color: #999; background-color: #e9e9e9; border: 1px solid #e9e9e9;}
input[type="text"].readonly {color: #999; background-color: #e9e9e9;}
input[type="text"]:disabled + .cal_btn {opacity: .5;}
input[type="tel"] {background: #fff; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none;}
input[type="tel"]::-webkit-input-placeholder {color: #8a8a8a;}
input[type="tel"]:-ms-input-placeholder {color: #8a8a8a;}
input[type="tel"]::-ms-input-placeholder {color: #8a8a8a;}
input[type="tel"]::placeholder {color: #8a8a8a;}
input[type="tel"]:disabled {color: #999; background-color: #f3f3f3;}
input[type="tel"]:-moz-read-only {color: #999; background-color: #f3f3f3;}
input[type="tel"]:read-only {color: #999; background-color: #f3f3f3;}
input[type="tel"].readonly {color: #999; background-color: #f3f3f3;}
input[type="tel"]:disabled + .cal_btn {opacity: .5;}
input[type="number"]::-webkit-input-placeholder {color: #8a8a8a;}
input[type="number"]:-ms-input-placeholder {color: #8a8a8a;}
input[type="number"]::-ms-input-placeholder {color: #8a8a8a;}
input[type="number"]::placeholder {color: #8a8a8a;}
input[type="number"]:disabled {color: #999; background-color: #f3f3f3;}
input[type="number"]:-moz-read-only {color: #999; background-color: #f3f3f3;}
input[type="number"]:read-only {color: #999; background-color: #f3f3f3;}
input[type="number"].readonly {color: #999; background-color: #f3f3f3;}
select {font-size: 18px; color: #888; appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; vertical-align: top;}
select::-ms-expand {display: none;}
select:focus, select:active {outline: none;}
select:disabled {color: #999; background-color: #e9e9e9; opacity: 1;}
textarea {padding: 10px 20px; font-family: "Pretendard_Regular", "맑은 고딕", "Malgun Gothic", sans-serif; font-size: 18px; color: #333; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none; border-radius: 0; vertical-align: top; background: #fff; border: 1px solid #e5e5e5; resize: none;}
textarea:focus, textarea:active {outline: none;}
textarea::-webkit-input-placeholder {color: #8a8a8a;}
textarea:-ms-input-placeholder {color: #8a8a8a;}
textarea::-ms-input-placeholder {color: #8a8a8a;}
textarea::placeholder {color: #8a8a8a;}
textarea:disabled {color: #999; background-color: #f3f3f3;}
textarea:-moz-read-only {color: #999; background-color: #f3f3f3;}
textarea:read-only {color: #999; background-color: #f3f3f3;}
a {text-decoration: none; color: #333;}
a:hover, a:focus, a:active {text-decoration: none;}
table {width: 100%; border-collapse: collapse;}
button {background: none; border: none; padding: 0; margin: 0; font-family: "Pretendard_Regular", "맑은 고딕", "Malgun Gothic", sans-serif; font-size: 18px; cursor: pointer; overflow: visible; white-space: nowrap;}
/* button:focus, button:active { outline: none; } */
button::-moz-focus-inner {padding: 0; border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
::selection {color: #fff; background-color: #ff5050;}

body {height: 100%;}
body.stop_scroll {overflow: hidden; height: 100%; min-height: 100%; touch-action: none;}
body.lock {position: fixed; width: 100%;}
#wrap {overflow: hidden; position: relative; width: 100%; background:linear-gradient(to bottom, #fff, #eff4f7);}

.inner{margin:0 auto; width:1280px;}

/* visual */
.visual_area{position:relative; width:100%; height:100vh;}
.visual_area .visual_div{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:1280px; z-index:2;}
.visual_area .visual_div .visual_tit{overflow:hidden; height:120px;}
.visual_area .visual_div .visual_tit span{height:120px; font-size:120px; color:#fff; font-family: "Pretendard_ExtraBold", sans-serif; letter-spacing: 1px; line-height:1; opacity:0; }
.visual_area .visual_div .control_area{position:relative; margin-top:80px; opacity:0; transition:opacity 0.7s ease;}
.visual_area.active .visual_div .control_area{opacity:1; transition-delay:0.4s}
.visual_area .visual_div .slide_num{color:#fff; font-size:12px;}
.visual_area .visual_div .slide_num > p{position:absolute; top:-2px;}
.visual_area .visual_div .slide_num .total_num{left:130px;}
.visual_area .visual_div .progress_bar{position:absolute; top:5px; left:17px; width:100px; height:2px; background:rgba(255,255,255,0.4)}
.visual_area .visual_div .progress_bar .bar{width:0; height:100%; background:#75c8cc}
.visual_area .bg_img {position: absolute; top: 0; left: 50%; transform:translateX(-50%); min-width:1700px; width:100vw; height: 100vh; min-height:700px;}
.visual_area .bg_img .swiper-slide{position:relative;}
.visual_area .bg_img .swiper-slide:after{display:block; content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5)}
.visual_area .bg_img .swiper-slide .img{position:absolute; top:0; left:0; width:calc(100% + 180px); height:100%; transform:translateX(0)}
.visual_area .scroll{position:absolute; bottom:20px; left:50%; transform:translateX(-50%); width:26px; height:40px; border:2px solid #fff; border-radius:15px; z-index:1; }
.visual_area .scroll .dot{position:absolute; top:7px; left:50%; transform:translateX(-50%); width:4px; height:4px; background:#75c8cc; border-radius:50%; animation: dot_motion 0.7s ease-in infinite alternate}
@-webkit-keyframes dot_motion {
  0% {
    top:7px;
  }
  100% {
    top:25px;
  }
}

/* section */
section{padding:150px 0 170px;}
section .big_title{position:relative; top:80px; text-align:center; font-size:80px; line-height:1; font-family: "Pretendard_ExtraBold", sans-serif; opacity:0; transition:top 0.9s ease, opacity 0.9s ease}
section .sub_tit{position:relative; top:80px; margin-top:24px; text-align:center; font-size:24px; font-family: "Pretendard_Medium", sans-serif; opacity:0; transition:top 0.9s ease, opacity 0.9s ease}
section.active .big_title{top:0; opacity:1;}
section.active .sub_tit{top:0; opacity:1; transition-delay:0.1s;}

/* sectino tool */
section .tools_list{display:flex; align-items: center; justify-content: center; margin-top:80px;}
section .tools_list .tools{display:flex; flex-wrap:wrap; justify-content: center; position:relative; top:80px; margin-right:30px; width:calc(100% - 90px); width:-webkit-calc(100% - 90px); opacity:0; transition:top 0.9s ease, opacity 0.9s ease}
section .tools_list .tools .border{padding:70px 0; width:100%; height:100%; text-align: center; border:2px solid #131635; background:#fff; border-radius:50%; transition:box-shadow 0.5s ease}
section .tools_list .tools .border:hover{box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .2)}
section .tools_list .tools:last-child{margin-right:0;}
section .tools_list .tools .icon{display:block; text-align:center;}
section .tools_list .tools .icon img{width:100px;}
section .tools_list .tools .txt{display:inline-block; position:relative; margin-top:24px; text-align: center; font-size:24px; font-family: "Pretendard_Bold", sans-serif; z-index:2;}
section .tools_list .tools .txt:after{display:block; content:""; position:absolute; top:0; left:0; width:0; height:100%; opacity:0.5; transform: skew(-15deg); transition:width 0.5s ease; z-index:-1;}
section .tools_list .tools:nth-child(1) .txt:after{background:#d8f3fc}
section .tools_list .tools:nth-child(2) .txt:after{background:#ff61f6}
section .tools_list .tools:nth-child(3) .txt:after{background:#fbb936}
section .tools_list .tools:nth-child(4) .txt:after{background:#ff7361}
section .tools_list .tools:hover .txt:after{width:100%;}
section.active .tools_list > *{top:0; opacity:1;}
section.active .tools_list > *:nth-child(1){transition-delay:0.3s;}
section.active .tools_list > *:nth-child(2){transition-delay:0.4s;}
section.active .tools_list > *:nth-child(3){transition-delay:0.5s;}
section.active .tools_list > *:nth-child(4){transition-delay:0.6s;}

/* section portfolio */
section .tab_func_area{margin-top:80px;}
section .tab_btn_area{display:flex; width:100%; border-bottom:2px solid #c1e3e6;}
section .tab_btn_area .btn{position:relative; padding:10px 20px; font-size:24px;}
section .tab_btn_area .btn.on{font-family: "Pretendard_Bold", sans-serif;}
section .tab_btn_area .btn.on:after{display:block; content:""; position:absolute; bottom:-2px; left:0; width:100%; height:2px; background:#131635;}
section .tab_con_area{margin-top:60px;}
section .tab_con_area .tab_con{display:none}
section .tab_con_area .tab_con.on{display:block}
section .tab_con_area .list_w{display:flex; flex-wrap:wrap;}
section .tab_con_area .list_w .list{position:relative; top:0; margin:40px 30px 0 0; width:calc((100% - 60px) / 3); width:-webkit-calc((100% - 60px) / 3); height:375px; border:1px solid #131635; transition:top 0.5s ease, box-shadow 0.5s ease;}
section .tab_con_area .list_w .list:nth-child(3n){margin-right:0;}
section .tab_con_area .list_w .list:nth-child(1), section .tab_con_area .list_w .list:nth-child(2), section .tab_con_area .list_w .list:nth-child(3){margin-top:0;}
section .tab_con_area .list_w .list .img_area{overflow:hidden; position:relative; padding-top:56%;}
section .tab_con_area .list_w .list .img_area img{position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); height:100%;}
section .tab_con_area .list_w .list .txt_div{position:absolute; bottom:0; left:0; padding:20px; width:100%; height:150px; background:#fff; border-top:1px solid #131635; transition:height 0.5s ease;}
section .tab_con_area .list_w .list .txt_div .tit{margin-top:15px; font-size:20px; font-family: "Pretendard_Medium", sans-serif;}
section .tab_con_area .list_w .list .txt_div .tit span{position:relative; z-index:1;}
section .tab_con_area .list_w .list .txt_div .tit span:after{display:block; content:""; position:absolute; top:0; left:0; width:0; height:100%; transform: skew(-15deg); transition:width 0.5s ease; z-index:-1; opacity:0.3;  background:#75c8cc}
section .tab_con_area .list_w .list .txt_div .view{position:absolute; bottom:0; left:20px; opacity:0; transition:bottom 0.5s ease, opacity 0.5s ease;}
section .tab_con_area .list_w .list:hover{top:-10px; box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .2)}
section .tab_con_area .list_w .list:hover .txt_div{height:180px;}
section .tab_con_area .list_w .list:hover .txt_div .view{bottom:30px; opacity:1;}
section .tab_con_area .list_w .list:hover .txt_div .tit span:after{width:100%;}
section .label_div{display:flex; flex-wrap:wrap}
section .label_div .label{margin-right:5px; padding:4px 4px 2px; color:#fff; font-size:12px; font-family: "Pretendard_Medium", sans-serif; background:#75c8cc}
section .label_div .label.pc{background:#5690c7}
section .label_div .label.mobile{background:#1d75c7}

/* footer */
footer{padding:50px 0; text-align:center; background:#131635}
footer p{font-family: "Pretendard_Medium", sans-serif; color:#fff;}
footer .copyright{margin-top:5px;}

/* 타이포 모션 공통 */
.typo_motion{opacity:0;}
.typo_motion span{position:relative; left:80px; opacity:0;}
