@charset "UTF-8";

/* font settings - Start */

/* Pretendard */
@font-face {
  font-family: "Pretendard_ExtraBold";
  src: url(../fonts/Pretendard-ExtraBold.eot);
  src: url(../fonts/Pretendard-ExtraBold.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-ExtraBold.woff2) format("woff2"), url(../fonts/Pretendard-ExtraBold.woff) format("woff"), url(../fonts/Pretendard-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard_Bold";
  src: url(../fonts/Pretendard-Bold.eot);
  src: url(../fonts/Pretendard-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Bold.woff2) format("woff2"), url(../fonts/Pretendard-Bold.woff) format("woff"), url(../fonts/Pretendard-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard_SemiBold";
  src: url(../fonts/Pretendard-SemiBold.eot);
  src: url(../fonts/Pretendard-SemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-SemiBold.woff2) format("woff2"), url(../fonts/Pretendard-SemiBold.woff) format("woff"), url(../fonts/Pretendard-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard_Medium";
  src: url(../fonts/Pretendard-Medium.eot);
  src: url(../fonts/Pretendard-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Medium.woff2) format("woff2"), url(../fonts/Pretendard-Medium.woff) format("woff"), url(../fonts/Pretendard-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard_Regular";
  src: url(../fonts/Pretendard-Regular.eot);
  src: url(../fonts/Pretendard-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Regular.woff2) format("woff2"), url(../fonts/Pretendard-Regular.woff) format("woff"), url(../fonts/Pretendard-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Slussen */
@font-face{
  font-family:Slussen;
  src:url(../fonts/Slussen-Compressed-Black.woff2) format("woff2");
  font-display:swap;
  font-weight:900;
  font-stretch:compressed;
}
@font-face{
  font-family:Slussen;
  src:url(../fonts/Slussen-Expanded-Black.woff2) format("woff2");
  font-display:swap;
  font-weight:900;
  font-stretch:expanded;
}
@font-face{
  font-family:Slussen;
  src:url(../fonts/Slussen-Regular.woff2) format("woff2");
  font-display:swap;
  font-weight:400
}
@font-face{
  font-family:Slussen;
  src:url(../fonts/Slussen-Bold.woff2) format("woff2");
  font-display:swap;
  font-weight:700;
}
/* font settings - End */



