@charset "UTF-8";

*{margin:0; padding:0; box-sizing:border-box;}
html{width:100%; height:100%;}
body{position:relative; font-family:'Gotham', 'Montserrat', '맑은 고딕', 'Malgun Gothic', sans-serif; font-weight:normal; font-size:16px; color:#666; letter-spacing:0px; line-height:1; height:100%; -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; line-height:1;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{position:absolute; top:-9999px; left:-9999px; z-index:-1}
textarea, button{vertical-align:middle} 
input, select{vertical-align:middle; background:#fff; border:1px solid #ccc; font-family:'HyundaiSansTextKRRegular', '맑은 고딕', 'Malgun Gothic', sans-serif; color:#999; letter-spacing:0px; border-radius:0; font-size:16px}
input{padding:3px 10px; height:32px}
option{padding:3px 10px;}
input[type="radio"],input[type="checkbox"] {border:0; padding:0; height:auto; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="password"] {height:40px; border:1px solid #ccc; color:#999; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="text"] {width:278px; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
select{padding:5px; height:40px; border:1px solid #ccc; background:#fff;}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #ccc; font-family:'HyundaiSansTextKRRegular', '맑은 고딕', 'Malgun Gothic', sans-serif; color:#999; font-size:16px; letter-spacing:0px; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-radius:0}
a{text-decoration:none; color:#666;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}
button{background:none; border:none; padding:0; margin:0; cursor:pointer; overflow:visible; white-space: nowrap;  font-size:16px; font-family:'HyundaiSansTextKRMedium', '맑은 고딕', 'Malgun Gothic', sans-serif;}
button:active {outline: none;}
button::-moz-focus-inner {padding:0; border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}

body {overflow-x:hidden;}
#mobileWrap{position:relative; top:50%; left:50%; width:375px; height:812px; font-family: 'noto_bold', '맑은 고딕', 'Malgun Gothic', sans-serif; transform:translate(-50%, -50%);}
#mobileWrap .content {z-index:1; overflow:hidden; position:absolute; width:386px; height:826px; background:#fff; border:7px solid black; border-radius:50px;}
#mobileWrap .content .scroll{display:block; overflow-x:hidden; overflow-y:auto; position:relative; margin-left:-1px; width:392px; height:100%;}

#mobileWrap .content  #header {position:absolute; top:0; left:0; z-index:2; width:100%; height:90px; background:url("../images/typeB-mobile-gnb.png") left 24px top 25px no-repeat;}
#mobileWrap .content  #header a {display:block; width:100%; height:100%;}


#mobileWrap .contents .wrap{display:block; position:relative; width:700px; height:100%; overflow-y:auto; overflow-x:hidden;}
#mobileWrap .contents .scrollArea{display:block; position:relative; width:800px; height:100%; overflow-y:auto; overflow-x:hidden;}



/* 미래에셋 - typeB */
#mobileWrap {width: 374px;}
#mobileWrap .content .scroll {width: 390px;}bot_tab_bar
#mobileWrap.mobile_main .content .scroll {background-color: #f7f7f7;}
#mobileWrap.mobile_sub .content .scroll {background-color: #fff;}

.inner {margin: 0 auto; width: -webkit-calc(100% - 48px); width: calc(100% - 48px);}

.main_visual {position: relative; height: 812px; background-color: #ccc; overflow: hidden;}
.main_visual .indicator {position: absolute; left: 24px; bottom: 86px; z-index: 1;}
.main_visual .swiper-slide {position: relative; overflow: hidden;}
.main_visual .swiper_img {position: absolute; left: -11px; top: 400px; z-index: 1;}

.bot_tab_bar {display: flex; align-items: center; justify-content: space-between; position: absolute; left: 0; bottom: 0; width: 100%; height: 60px; background-color: rgba(255,255,255,0.8); z-index: 5;}
.bot_tab_bar .tab_btn {display: block;}
.bot_tab_bar .tab_btn img {width: auto; height: auto;}
.bot_tab_bar .tab_btn.pick img.btn_x {display: none;}
.bot_tab_bar .tab_btn.pick.on img.btn {display: none;}
.bot_tab_bar .tab_btn.pick.on img.btn_x {display: block;}
.bot_tab_bar .tab_btn.mbti img.after {display: none;}
.bot_tab_bar .tab_btn.mbti.on img.before {display: none;}
.bot_tab_bar .tab_btn.mbti.on img.after {display: block;}

.pick_popup {position: absolute; left: 100%; top: 0; width: 100%; height: 100%; z-index: 4;}
.pick_popup .bg {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.pick_popup .pick_tab_bar {position: absolute; left: 0; top: 22px; z-index: 1;}
.pick_popup .pick_tab_bar img.after {display: none;}
.pick_popup .change_area {position: relative; left: 24px;}
.pick_popup .change_area img {position: relative;}
.pick_popup .change_area img.before {top: 262px;}
.pick_popup .change_area img.after {display: none; top: 150px;}
.pick_popup.on .pick_tab_bar img.before {display: none;}
.pick_popup.on .pick_tab_bar img.after {display: block;}
.pick_popup.on .change_area img.before {display: none;}
.pick_popup.on .change_area img.after {display: block;}

.mbti_popup {position: absolute; left: 100%; top: 0; width: 100%; height: 100%; background-color: #fff; z-index: 4;}
.mbti_popup .bg {position: relative; z-index: 2;}
.mbti_popup .start_area {position: absolute; left: 0; top: 0; width: -webkit-calc(100% - 25px); width: calc(100% - 25px); height: 100%; background-color: #fff; z-index: 3;}
.mbti_popup .start_area .txt_wrap {position: relative; left: 24px; top: 217px;}
.mbti_popup .start_area .txt_wrap .btn_start {display: block; margin-top: 40px;}
.mbti_popup .btn_x {position: absolute; left: 20px; top: 20px; z-index: 4;}
.mbti_popup .btn_x img.after {display: none;} 
.mbti_popup .btn_x.on img.before {display: none;} 
.mbti_popup .btn_x.on img.after {display: block;} 
.mbti_popup .result_area {position: absolute; left: 100%; top: 0; width: 390px; height: 100%; overflow-y: auto; z-index: 3;}

.for_you {padding-top: 100px; background-color: #8EB1B2;}
.for_you .tit {margin: 0 0 30px;}
.for_you .txt {margin: 60px 0 30px;}
.for_you .swiper_img {position: relative; left: 24px;}
.for_you .box {margin-top: 60px; text-align: right;}

.dimd {display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 3;}