@charset "UTF-8";
@import url(./reset.css);
@import url(./fonts.css);

header{position:fixed; top:0; left:0; width:100%; height:160px; z-index:10;}
header .inner{display:flex; justify-content: space-between; align-items: center; margin:0 auto; width:1800px; height:100%;}
header .inner .logo img{width:229px;}
header .inner .intro img{height:40px;}

.login-area{width:100%; min-height:100vh;}
.login-wrap{position:relative;}
.login-wrap .bg{position:absolute; top:0; left:0; width:100%; height:100vh;}
.login-wrap .bg img{width:100%; height:100%; object-fit: cover;}
.login-wrap .inner{display:flex; justify-content: space-between; position:relative; margin:0 auto; padding-top:200px; width:1496px; min-height:100vh;}
.login-wrap .inner .left{display:flex; flex-direction: column; justify-content: space-between; position:relative; padding-bottom:120px; height:calc(100vh - 200px);}
.login-wrap .inner .left .txt{position:relative; top:80px; padding-top:60px; opacity:0; transition:top 1s ease, opacity 1s ease;}
.login-wrap .inner .left .txt img{width:580px}
.login-wrap .inner .left .scrolldown-area{display:flex; align-items: center; position:relative; top:80px; opacity:0; transition:top 1s ease, opacity 1s ease;}
.login-wrap .inner .left .scrolldown-area .scroll{overflow:hidden; position:relative; width:4px; height:24px; background:rgba(217,217,217,0.6); border-radius:2px;}
.login-wrap .inner .left .scrolldown-area .scroll span{position:absolute; top:0; left:0; width:4px; height:8px; border-radius:2px; background:#d9d9d9; animation:scroll 1.3s infinite linear}

@-webkit-keyframes scroll{
  from{
    top:-8px;
  }
  to{
    top:24px;
  }
}

.login-wrap .inner .left .scroll-txt{position:relative; top:2px; margin-left:16px;}
.login-wrap .inner .left .scroll-txt img{width:117px; height:13px;}
.login-wrap .inner .right{padding:0 151px 200px 0; text-align: right;}
.login-wrap .inner .right img{width:585px;}
.login-wrap .inner .right .img:nth-child(2){margin-top:40px;}
.login-wrap .inner .right .img:nth-child(3){margin-top:80px;}
.login-wrap .inner .right .img:nth-child(3) img:nth-child(1){margin-bottom:24px;}
.login-wrap .inner .right .img img{position:relative; top:80px; opacity:0; transition:top 1s ease, opacity 1s ease;}

.login-wrap .inner .left .txt.active{top:0; opacity:1;}
.login-wrap .inner .left .scrolldown-area.active{top:0; opacity:1;}
.login-wrap .inner .right .img.active img{top:0; opacity:1;}
.login-wrap .inner .right .img.active img:nth-child(2){transition-delay:0.15s}

/* footer */
footer{border-top:1px solid #ccc; background:#fff;}
footer .inner{display:block; padding:40px 0 60px; text-align: center;}
footer .inner img{width:1801px;}



























































