@charset "UTF-8";

*{margin:0; padding:0; box-sizing:border-box;}
html{width:100%; height:100%;}
body{position:relative; font-family:'hd_text_R', '맑은 고딕', 'Malgun Gothic', sans-serif; font-weight:normal; font-size:16px; color:#666; letter-spacing:-0.5px; line-height:1; height:100%; -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{position:absolute; top:-9999px; left:-9999px; z-index:-1}
textarea, button{vertical-align:middle} 
input, select{vertical-align:middle; background:#fff; border:1px solid #ccc; font-family:'맑은 고딕', 'Malgun Gothic', sans-serif; color:#999; letter-spacing:0px; border-radius:0; font-size:16px}
input{padding:3px 10px; height:32px}
option{padding:3px 10px;}
input[type="radio"],input[type="checkbox"] {border:0; padding:0; height:auto; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="password"] {height:40px; border:1px solid #ccc; color:#999; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="text"] {width:278px; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
select{padding:5px; height:40px; border:1px solid #ccc; background:#fff;}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #ccc; font-family:'맑은 고딕', 'Malgun Gothic', sans-serif; color:#999; font-size:16px; letter-spacing:0px; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-radius:0}
a{text-decoration:none; color:#666;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}
button{background:none; border:none; padding:0; margin:0; cursor:pointer; overflow:visible; white-space: nowrap;  font-size:16px; font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;}
button:active {outline: none}
button::-moz-focus-inner {padding:0; border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}

body {overflow-x:hidden; background:#000;}
#wrap {position:relative; margin:0 auto; overflow:hidden; width:1920px;}
header{position:absolute; top:-100px; left:0; width:100%; height:100px; z-index:100;}

.movie_pop{display:none; position:absolute; top:0; left:0; width:100%; height:100vh; z-index:100; opacity:0;}
.movie_pop > a{position:absolute; top:60px; right:60px;}
#video1{position:absolute; top:0px; left:50%; transform:translate(-50%, 0); height:100%; width:100%; object-fit: cover; z-index: -100; top:0;}

header h1{position:absolute; top:60px; left:50px;}
header .util{position:absolute; top:80px; right:60px;}
header .util a{margin-left:16px;}

.menubt{position:absolute; top:50%; left:-145px; transform:translate(0, -50%); width:85px; opacity:0; height:40px; z-index:10}
.menubt img{position:absolute; top:0; left:0; transition:0.5s}
.menubt .on{opacity:0;}
.menubt:hover .on{opacity:1;}
.menubt:hover .off{opacity:0;}

.gnb{display:none; position:absolute; top:0; left:0; width:100%; height:100vh; z-index:110;}
.gnb .bg_div{position:absolute; top:0; left:0; width:100%; height:100vh; overflow:hidden;}
.gnb .bg_div .white{width:66%; height:100%; float:left; overflow:hidden;}
.gnb .bg_div .white li{position:relative; width:25%; height:100%; float:left; overflow:hidden; border-right:1px solid #E5E5E5;}
.gnb .bg_div .white li > p{position:absolute; top:0; left:-100%; width:100%; height:100%; background:#fff;}
.gnb .bg_div .black{width:34%; height:100%; float:left; overflow:hidden;}
.gnb .bg_div .black li{position:relative; width:50%; height:100%; float:left; overflow:hidden; border-right:1px solid #1F1F1F;}
.gnb .bg_div .black li > p{position:absolute; top:0; left:-100%; width:100%; height:100%; background:#000;}
.gnb .menu_div{position:absolute; top:0; left:0; width:100%; height:100vh; overflow:hidden;}
.gnb .menu_div .white{width:66%; height:100%; float:left; overflow:hidden;}
.gnb .menu_div .white li{position:relative; width:25%; height:100%; float:left; overflow:hidden;}
.gnb .menu_div .white li > a{position:absolute; top:50%; left:-100%; transform:translate(0, -50%); display:block; height:565px;}
.gnb .menu_div .white li > a.xbt{left:-100px; height:40px;}
.gnb .menu_div .black{width:34%; height:100%; float:left; overflow:hidden;}
.gnb .menu_div .black li{position:relative; width:100%; height:100%; float:left; overflow:hidden;}
.gnb .menu_div .black li > a{position:absolute; top:50%; left:-100%; transform:translate(0, -50%); display:block; height:565px;}
.gnb .menu_head{position:absolute; top:0; left:0; width:100%; height:100px; z-index:100; opacity:0;}
.gnb .menu_head .hlogo{position:absolute; top:60px; left:50px;}
.gnb .menu_head .hutil{position:absolute; top:80px; right:60px;}

.main_v{position:relative; width:100%; height:100vh; z-index:50}
.main_v .img{position:absolute; width:100%; height:100vh;}
.main_v .txt{position:absolute; top:30%; left:50%; transform:translate(-50%, 0); width:1280px;}
.main_v .txt .txt1{transform:translate(0, 100px); opacity:0;}
.main_v .txt .txt2{margin-top:37px; transform:translate(0, 100px); opacity:0;}
.main_v .video_bt{display:block; position:absolute; top:50%; right:155px; transform:translate(0, -50%); width:320px; height:512px; opacity:0; z-index:10}
.main_v .video_bt > p{display:block; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:60px; height:60px;0}
.main_v .video_bt > p > img{position:absolute; top:0; left:0; width:60px; height:60px; transition:0.5s;}
.main_v .video_bt > p > img.on{opacity:0;}
.main_v .video_bt:hover > p > img.on{opacity:1;}
.main_v .video_bt > p > img.off{opacity:1;}
.main_v .video_bt:hover > p > img.off{opacity:0;}

.main_tab{position:absolute; bottom:0; left:0; width:100%; height:95px; z-index:10; opacity:0; transition:0.5s}
.main_tab .inner{width:1280px; height:95px; margin:auto;}
.main_tab .inner a{display:inline-block; position:relative; width:200px; height:35px; margin-right:16px; opacity:0.5; transition-property:opacity; transition-duration:0.5s;}
.main_tab .inner a::after{content:""; display:block; position:absolute; bottom:0; left:0; width:100%; height:2px; background:#fff}
.main_tab .inner a.on{opacity:1}
.main_tab.fixed{position:fixed; bottom:auto; top:0; height:70px; background-color: rgba(255, 255, 255, 0.1); backdrop-filter: saturate(180%) blur(15px); z-index:10}
.main_tab.fixed .inner{height:70px;}
.main_tab.fixed .inner a{height:70px; padding:25px 0;}
.main_tab.fixed .inner a::after{display:none;}

.d_bt{position:relative; display:inline-block; height:40px; padding:9px 20px 10px 0;}
.d_bt::before{content:""; display:block; position:absolute; top:0; right:0; width:40px; height:40px; border-radius:20px; border:1px solid rgba(255, 255, 255, 0.5); box-sizing:border-box}
.d_bt::after{content:""; display:block; position:absolute; top:0; right:0; width:40px; height:40px; border-radius:20px; background:#C0A677; transform:scale(0); transition:0.3s ease-out;}
.d_bt img{position:relative; z-index:1;}
.d_bt:hover::after{transform:scale(1);}

.main_container {position:relative; width:100%; height:100%}
.main_part{position:absolute; top:0; left:0; width:100%;}
.main_container .mcon1{padding-bottom:600px}
.main_container .mcon1 .con1{position:relative; width:1280px; height:2390px; padding-top:510px; margin:auto;}
.main_container .mcon1 .con1 .txt_pack{position:absolute; top:300px; left:0; z-index:1;}
.main_container .mcon1 .con1 .txt_pack .txt1{transform:translate(0, 100px); opacity:0;}
.main_container .mcon1 .con1 .txt_pack .txt2{margin-top:45px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon1 .con1 .txt_pack .d_bt{margin-top:90px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon1 .con1 .img_pack{position:relative; width:100%; height:2185px;}
.main_container .mcon1 .con1 .img_pack .one{position:absolute; top:0; right:0;}
.main_container .mcon1 .con1 .img_pack .two{position:absolute; bottom:0; right:0; z-index:1;}
.main_container .mcon1 .con1 .img_pack .two span{position:absolute; top:50%; left:-140px; transform:translate(0, -50%)}
.main_container .mcon1 .con1 .img_pack .thr{position:absolute; top:400px; left:0px;}

.main_container .mcon1 .con2{position:relative; width:1280px; margin:605px auto 0;}
.main_container .mcon1 .con2 .txt_pack .txt1{transform:translate(0, 100px); opacity:0;}
.main_container .mcon1 .con2 .txt_pack .txt2{margin-top:45px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon1 .con2 .txt_pack .d_bt{margin-top:90px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon1 .con2 .img_pack{position:relative; width:960px; margin-top:150px; overflow:hidden; transform:translate(0, 100px); opacity:0;}
.main_container .mcon1 .con2 .img_pack .one{float:left;}
.main_container .mcon1 .con2 .img_pack .two{float:right;}

.main_container .mcon1 .con3{position:relative; width:1280px; height:768px; margin:400px auto 0;}
.main_container .mcon1 .con3 .tit_pack{position:absolute; top:50%; left:0px; transform:translate(0, -30%); opacity:0; z-index:2}
.main_container .mcon1 .con3 .tit_pack .d_bt{margin-top:90px; padding:12px 20px 10px 0}
.main_container .mcon1 .con3 .siwper-container{width:480px; height:768px; margin:auto; overflow:hidden; transform:translate(0, 100px); opacity:0;}
.main_container .mcon1 .con3 .swiper-button-next{display:block; width:80px; height:80px; top:auto; bottom:0; right:0; background:url('../images/main1_con3_right.png') no-repeat 0 0;}
.main_container .mcon1 .con3 .swiper-button-prev{display:block; width:80px; height:80px; top:auto; left:auto; bottom:0; right:80px; background:url('../images/main1_con3_left.png') no-repeat 0 0;}
.main_container .mcon1 .con3 .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{opacity:1}
.main_container .mcon1 .con3 .swiper-button-next:hover{background:url('../images/main1_con3_right_on.png') no-repeat 0 0;}
.main_container .mcon1 .con3 .swiper-button-prev:hover{background:url('../images/main1_con3_left_on.png') no-repeat 0 0;}

.main_container .mcon1 .con3 .bt_side{position:absolute; top:50%; right:0px; transform:translate(0, -30%); padding:30px 0 0; border-top:1px solid #fff; opacity:0; z-index:2}
.main_container .mcon1 .con3 .bt_side a{display:block; padding:33px 0; opacity:0.5; transition:0.5s;}
.main_container .mcon1 .con3 .bt_side a.on{opacity:1;}

.main_container .mcon1 .con4{position:relative; width:1280px; margin:400px auto 0; padding-bottom:410px;}
.main_container .mcon1 .con4 .tit_pack .tit{transform:translate(0, 100px); opacity:0;}
.main_container .mcon1 .con4 .txt2{margin-top:45px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon1 .con4 .swiper-container{position:relative; width:100%; margin:135px auto 0; transform:translate(0, 100px); opacity:0; overflow:visible;}
.main_container .mcon1 .con4 .swiper-slide{width:auto;}
.main_container .mcon1 .con4 .swiper-slide .img{display:block; position:relative;}
.main_container .mcon1 .con4 .swiper-slide .img img.on{filter: grayscale(100%); transition:0.5s}
.main_container .mcon1 .con4 .swiper-slide .img:hover img.on{filter: grayscale(0%);}
.main_container .mcon1 .con4 .swiper-slide .txt{margin-top:36px;}
.main_container .mcon1 .con4 .swiper_bts{position:relative; width:100%; height:40px; margin:58px auto 0;}
.main_container .mcon1 .con4 .swiper_bts .bts{position:absolute; top:-8px; right:0; width:90px; height:40px;}
.main_container .mcon1 .con4 .swiper_bts .bts a{display:block; position:absolute; top:0; left:0; width:40px; height:40px;}
.main_container .mcon1 .con4 .swiper_bts .bts a:nth-child(2){left:50px;}
.main_container .mcon1 .con4 .swiper_bts::before{content:""; display:block; position:absolute; top:50%; left:0; transform:translate(0, -50%); background:#707070; width:1150px; height:1px;}


.main_container .mcon1 .con5{position:relative; width:100%; height:600px; overflow:hidden; margin:auto;}
.main_container .mcon1 .con5 .img{position:fixed; width:100%; height:600px; bottom:0; left:50%; transform:scale(1) translate(-50%, 0)}
.main_container .mcon1 .con5 .img.nfix{position:absolute;}
.main_container .mcon1 .con5 .dimd{position:fixed; width:100%; height:100%; bottom:0; left:50%; background:#000; opacity:0.8; transform:translate(-50%, 0)}
.main_container .mcon1 .con5 .dimd.nfix{position:absolute;}
.main_container .mcon1 .con5 .txt_pack{position:absolute; top:143px; left:50%; transform:translate(-50%, 0%); width:1280px;}
.main_container .mcon1 .con5 .txt_pack .txt{transform:translate(0, 100px); opacity:0;}
.main_container .mcon1 .con5 .txt_pack .bt{display:block; position:relative; margin-top:71px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon1 .con5 .txt_pack .bt img{display:block; position:absolute; top:0; left:0; transition:0.5s}
.main_container .mcon1 .con5 .txt_pack .bt img.on{opacity:0;}
.main_container .mcon1 .con5 .txt_pack .bt:hover img.on{opacity:1;}

.main_container .mcon2 .con1{position:relative; width:1280px; padding-top:310px; margin:auto; padding-bottom:400px;}
.main_container .mcon2 .con1 .txt_pack{}
.main_container .mcon2 .con1 .txt_pack .txt1{transform:translate(0, 100px); opacity:0;}
.main_container .mcon2 .con1 .txt_pack .txt2{margin-top:45px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon2 .con1 .txt_pack .d_bt{margin-top:90px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon2 .con1 .img_pack{position:relative; width:100%; height:720px; margin-top:54px;}
.main_container .mcon2 .con1 .img_pack .one{position:absolute; top:80px; left:0;}
.main_container .mcon2 .con1 .img_pack .two{position:absolute; top:0; left:50%; transform:translate(-50%, 0%)}
.main_container .mcon2 .con1 .img_pack .thr{position:absolute; top:80px; right:0px;}
.main_container .mcon2 .con1 .txt_pack .d_bt{margin-top:90px; padding:12px 20px 10px 0}

.main_container .mcon2 .con2{position:relative; width:100%; height:100vh; overflow:hidden}
.main_container .mcon2 .con2 .left{position:relative; width:50%; height:100vh; float:left;}
.main_container .mcon2 .con2 .left .roll{position:relative; width:100%; height:100vh; overflow:hidden;}
.main_container .mcon2 .con2 .left .roll .r_unit{position:absolute; top:0; left:0; width:0%; height:100vh; overflow:hidden;}
.main_container .mcon2 .con2 .left .roll .r_unit img{position:absolute; top:0; left:0; width:960px; height:100%;}
.main_container .mcon2 .con2 .left .bts{position:absolute; top:50%; right:20px; transform:translate(0, -120px); height:140px;}
.main_container .mcon2 .con2 .left .bts a{position:absolute; top:0; right:0px;}
.main_container .mcon2 .con2 .left .bts a:nth-child(2){position:absolute; top:80px; right:0px;}
.main_container .mcon2 .con2 .right{position:relative; width:50%; height:100vh; float:right;}
.main_container .mcon2 .con2 .right .top{position:relative; width:100%; height:50vh;}
.main_container .mcon2 .con2 .right .top .roll{position:relative; width:100%; height:50vh; overflow:hidden;}
.main_container .mcon2 .con2 .right .top .roll .r_unit{position:absolute; top:0; left:0; width:100%; height:50vh; overflow:hidden;}
.main_container .mcon2 .con2 .right .top .d_bt{position:absolute; bottom:20%; left:81px; padding:12px 20px 10px 0}
.main_container .mcon2 .con2 .right .top .d_bt::before{border:1px solid rgba(0, 0, 0, 0.5);}
.main_container .mcon2 .con2 .right .top .r_num{position:absolute; bottom:5%; right:81px;}
.main_container .mcon2 .con2 .right .top .r_num span{display:inline-block; margin-left:20px; opacity:0.5; transition:0.5s;}
.main_container .mcon2 .con2 .right .top .r_num span.on{opacity:1;}
.main_container .mcon2 .con2 .right .bot{position:relative; width:100%; height:50vh;}
.main_container .mcon2 .con2 .right .bot .roll{position:relative; width:100%; height:50vh; overflow:hidden;}
.main_container .mcon2 .con2 .right .bot .roll .r_unit{position:absolute; top:0; left:0; width:100%; height:0; overflow:hidden;}
.main_container .mcon2 .con2 .right .bot .roll .r_unit img{position:absolute; top:0; left:0; width:960px; height:50vh;}

.main_container .mcon2 .con3{position:relative; width:100%; height:100vh; background:#800020; overflow:hidden}
.main_container .mcon2 .con3 .inner{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:1280px; height:716px;}
.main_container .mcon2 .con3 .inner .left{position:absolute; top:0; left:0; transform:translate(0, 100px); opacity:0;}
.main_container .mcon2 .con3 .inner .right{position:absolute; top:0; right:0; transform:translate(0, 100px); opacity:0;}

.main_container .mcon2 .con4{position:relative; width:1280px; margin:300px auto 0; padding-bottom:400px;}
.main_container .mcon2 .con4 .txt_pack .txt1{transform:translate(0, 100px); opacity:0;}
.main_container .mcon2 .con4 .txt_pack .txt2{margin-top:45px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon2 .con4 .txt_pack .d_bt{margin-top:90px; padding:8px 20px 10px 0; transform:translate(0, 100px); opacity:0;}
.main_container .mcon2 .con4 .list_div{position:relative; width:960px; margin:120px 0 0 320px; border-top:1px solid #fff;}
.main_container .mcon2 .con4 .list_div li{padding:40px; border-bottom:1px solid rgba(255, 255, 255, 0.5);}
.main_container .mcon2 .con4 .list_div li a{display:block; position:relative; width:100%; height:45px;}
.main_container .mcon2 .con4 .list_div li a > span{display:block; position:absolute; top:50%; right:0; transform:translate(0, -50%); width:12px; height:12px;}
.main_container .mcon2 .con4 .list_div li a > span img{display:block; position:absolute; top:0; right:0;}
.main_container .mcon2 .con4 .list_div li a > span img:nth-child(2){display:block; position:absolute; top:5px; right:0;}
.main_container .mcon2 .con4 .list_div li .answer{margin-top:0px; height:0; overflow:hidden;}

.main_container .mcon2 .con5{position:relative; width:100%; height:600px; overflow:hidden; margin:auto;}
.main_container .mcon2 .con5 .img{position:fixed; width:100%; height:600px; bottom:0; left:50%; transform:scale(1) translate(-50%, 0)}
.main_container .mcon2 .con5 .img.nfix{position:absolute;}
.main_container .mcon2 .con5 .dimd{position:fixed; width:100%; height:100%; bottom:0; left:50%; background:#000; opacity:0.8; transform:translate(-50%, 0)}
.main_container .mcon2 .con5 .dimd.nfix{position:absolute;}
.main_container .mcon2 .con5 .txt_pack{position:absolute; top:143px; left:50%; transform:translate(-50%, 0%); width:1280px;}
.main_container .mcon2 .con5 .txt_pack .txt{transform:translate(0, 100px); opacity:0;}
.main_container .mcon2 .con5 .txt_pack .bt{display:block; position:relative; margin-top:71px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon2 .con5 .txt_pack .bt img{display:block; position:absolute; top:0; left:0; transition:0.5s}
.main_container .mcon2 .con5 .txt_pack .bt img.on{opacity:0;}
.main_container .mcon2 .con5 .txt_pack .bt:hover img.on{opacity:1;}

.main_container .mcon3 .con1{position:relative; width:1280px; padding-top:310px; margin:auto; padding-bottom:400px;}
.main_container .mcon3 .con1 .txt_pack{}
.main_container .mcon3 .con1 .txt_pack .txt1{transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con1 .txt_pack .txt2{margin-top:45px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con1 .txt_pack .d_bt{margin-top:90px; padding:8px 20px 10px 0; transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con1 .img_pack{position:relative; width:100%; height:720px; margin-top:51px;}
.main_container .mcon3 .con1 .img_pack .one{position:absolute; top:80px; left:0;}
.main_container .mcon3 .con1 .img_pack .two{position:absolute; top:0; right:0%;}

.main_container .mcon3 .con2{position:relative; width:1280px; margin:auto; padding-bottom:400px;}
.main_container .mcon3 .con2 .txt_pack{}
.main_container .mcon3 .con2 .txt_pack .txt1{transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con2 .txt_pack .txt2{margin-top:45px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con2 .txt_pack .d_bt{margin-top:90px; padding:8px 20px 10px 0; transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con2 .img_pack{position:relative; margin-top:130px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con2 .img_pack .img_roll{position:relative; width:760px; height:660px; overflow:hidden;}
.main_container .mcon3 .con2 .img_pack .img_roll .r_unit{position:absolute; top:0; left:0; width:760px; height:660px;}
.main_container .mcon3 .con2 .img_pack .txt_roll{position:absolute; top:80px; right:0; width:395px;}
.main_container .mcon3 .con2 .img_pack .txt_roll .txt_area{position:absolute; top:0; left:0; width:395px;}
.main_container .mcon3 .con2 .img_pack .txt_roll .txt_area .s_txt1{margin-bottom:70px;}
.main_container .mcon3 .con2 .img_pack .txt_roll .txt_area .s_txt2{margin-bottom:45px;}
.main_container .mcon3 .con2 .img_pack .txt_roll .txt_area .s_txts{padding-left:33px; border-left:1px solid #C0A677;}
.main_container .mcon3 .con2 .next{display:block; width:160px; height:160px; position:absolute; bottom:0; left:680px; overflow:hidden;}
.main_container .mcon3 .con2 .next img{width:160px; height:160px; position:absolute; bottom:0; left:0; transition:0.5s}
.main_container .mcon3 .con2 .next img.on{opacity:0;}
.main_container .mcon3 .con2 .next:hover img.on{opacity:1;}

.main_container .mcon3 .con3{position:relative; width:1280px; margin:auto; padding-bottom:400px;}
.main_container .mcon3 .con3 .txt_pack{}
.main_container .mcon3 .con3 .txt_pack .txt1{transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con3 .txt_pack .txt2{margin-top:45px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con3 .img_pack{margin-top:135px; width:100%; overflow:hidden; transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con3 .img_pack > p{width:33.3%; float:left;}

.main_container .mcon3 .con4{position:relative; width:1280px; margin:auto; padding-bottom:400px;}
.main_container .mcon3 .con4 .txt_pack{}
.main_container .mcon3 .con4 .txt_pack .txt1{transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con4 .txt_pack .txt2{margin-top:45px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con4 .txt_pack .d_bt{margin-top:90px; padding:12px 20px 10px 0; transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con4 .swiper-container{margin-top:110px; transform:translate(0, 100px); opacity:0; overflow:visible}
.main_container .mcon3 .con4 .swiper-slide{position:relative;}
.main_container .mcon3 .con4 .swiper-slide .txt_div{position:absolute; top:40px; right:0; width:285px;}
.main_container .mcon3 .con4 .swiper-slide .txt_div .txt2{margin-top:65px;}
.main_container .mcon3 .con4 .swiper-slide .txt_div .txt3{margin-top:35px;}
.main_container .mcon3 .con4 .swiper-button-next{display:block; width:80px; height:80px; top:auto; bottom:0; left:880px; background:url('../images/main1_con3_right.png') no-repeat 0 0;}
.main_container .mcon3 .con4 .swiper-button-prev{display:block; width:80px; height:80px; top:auto; left:800px; bottom:0; background:url('../images/main1_con3_left.png') no-repeat 0 0;}
.main_container .mcon3 .con4 .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{opacity:1}
.main_container .mcon3 .con4 .swiper-button-next:hover{background:url('../images/main1_con3_right_on.png') no-repeat 0 0;}
.main_container .mcon3 .con4 .swiper-button-prev:hover{background:url('../images/main1_con3_left_on.png') no-repeat 0 0;}

.main_container .mcon3 .con5{position:relative; width:1280px; margin:auto; padding-bottom:400px;}
.main_container .mcon3 .con5 .txt_pack{}
.main_container .mcon3 .con5 .txt_pack .txt1{transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con5 .txt_pack .txt2{margin-top:45px; transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con5 .txt_pack .d_bt{margin-top:90px; padding:8px 20px 10px 0; transform:translate(0, 100px); opacity:0;}
.main_container .mcon3 .con5 .list{position:relative; width:960px; margin:120px 0 0 320px; border-top:1px solid #fff; transform:translate(0, 100px); opacity:0;}

#footer{position:relative; width:100%; height:410px; background:#211A18; z-index:50;}
#footer .inner{width:1280px; height:419px; margin:auto; position:relative;}
#footer .inner .left{position:absolute; top:50px; left:0;}
#footer .inner .right{position:absolute; top:172px; right:0;}
