@charset "UTF-8";
@import url(./reset.css);
@import url(./fonts.css);

.stop-scroll{overflow: hidden; height:100%;}

.inner {width: 1524px; margin: 0 auto;}
.f-inner {width: 1832px; margin: 0 auto;}
.s-inner {width: 1478px; margin: 0 auto;}

/* header */
header{overflow:hidden; position:fixed; top:0; left:0; width:100%; height:100px; z-index:10; background:transparent; transition:height 0.5s ease, background 0.5s ease;}
header:after{display:block; content:""; position:absolute; top:100px; left:0; width:100%; height:1px; background:rgba(0,0,0,0.1); opacity:0;}
header .inner{display:flex; align-items: center; position:relative; margin:0 auto; width:1832px; height:100px; z-index:1;}
header .inner .logo{width:195px; height:44px; background:url("../images/logo.svg") no-repeat center center;}
header .inner nav{margin-left:267px; width:737px; height:36px; background:url("../images/img-gnb.png") no-repeat left top 7px/737px auto; cursor:pointer;}
header .inner .util{position:absolute; right:0; top:39px; width:446px; height:27px; background:url("../images/img-header-util.png") no-repeat center center/446px auto;}
header .gnb-con{overflow:hidden; position:absolute; top:100px; left:0; width:100%; height:480px; /* background:#fff; */ transition:height 0.5s ease;}
header .gnb-con .inner{position:relative; top:0; margin:0 auto; width:1832px;}
header .gnb-con .inner img{position:absolute; top:60px; left:428px; width:804px;}
header .gnb-con .img{position:absolute; top:60px; right:44px;}
header .gnb-con .img img{width:360px;}
header.white .inner .logo{background:url("../images/logo-white.svg") no-repeat center center}
header.white .inner nav{width:737px; background:url("../images/img-gnb-white.png") no-repeat left top 7px/737px auto;}
header.white .inner .util{background:url("../images/img-header-util-white.png") no-repeat center center/446px auto;}
header.hover{background:#fff;}
header.hover:after{opacity:1;}
header.hover .inner .logo{background:url("../images/logo.svg") no-repeat center center}
header.hover .inner nav{width:737px; background:url("../images/img-gnb-on.png") no-repeat left top 7px/737px auto}
header.hover .inner .util{background:url("../images/img-header-util.png") no-repeat center center/446px auto;}
header.hover{height:480px;}
header.hover .gnb-con .img{opacity:1;}
header.up-scroll{background:#fff !important}
header.up-scroll:after{opacity:1;}

/* 상단 제목 영역 */
/* .tit-wrap{padding:180px 0 70px} */
.tit-wrap .tit-inner{padding:180px 0 70px}
.tit-wrap .tit{position:relative; top:80px; font-family: "HDHyundai-Bold"; font-size:72px; line-height:80px; opacity:0; transition:top 1s ease, opacity 1s ease;}
.tit-wrap .txt{position:relative; top:80px; margin-top:40px; width:100%; opacity:0; transition:top 1s ease, opacity 1s ease;}
.tit-wrap .txt img{width:100%;}
.tit-wrap.active .tit{top:0; opacity:1;}
.tit-wrap.active .txt{top:0; opacity:1; transition-delay:0.15s}

/* 지도 영역 */
.map-area{position:relative; height:300vh;}
.map-area .map-list-w{position:relative; height:100vh;}
.map-area .map-img{position:absolute; left:0; top:0; width:100%; height:100vh;}
.map-area .map-img img{width:100%; height:100%; object-fit: cover;}
.map-area .map-list{overflow:hidden; position:absolute; right:-680px; top:0; width:680px; height:100vh; background:#fff; transition:right 0.8s ease;}
.map-area .map-list .top-area{position:relative; top:80px; padding:40px 40px 50px 44px; width:100%; opacity:0; transition:top 1s ease, opacity 1s ease;}
.map-area .map-list .top-area img{width:100%;}
.map-area .map-list .scroll-area{overflow-y:auto; padding:0 40px 40px 44px; height:calc(100vh - 189px)}
.map-area .map-list .scroll-area::-webkit-scrollbar{width:4px; background:rgba(0,0,0,0.2)}
.map-area .map-list .scroll-area::-webkit-scrollbar-thumb{background:#666666;}
.map-area .map-list .scroll-area .list{display:block; position:relative; top:80px; padding-bottom:50px; margin-bottom:50px; border-bottom:1px solid rgba(0,0,0,0.1); opacity:0; transition:top 1s ease, opacity 1s ease;}
.map-area .map-list .scroll-area .list:last-child{margin-bottom:0;}
.map-area .map-list .scroll-area .list img{width:100%;}
.map-area .map-list.active{right:0;}
.map-area .map-list.active .top-area{top:0; opacity:1; transition-delay:0.8s;}
.map-area .map-list.active .scroll-area .list:nth-child(1){top:0; opacity:1; transition-delay:0.9s;}
.map-area .map-list.active .scroll-area .list:nth-child(2){top:0; opacity:1; transition-delay:1.05s;}
.map-area .map-list.active .scroll-area .list:nth-child(3){top:0; opacity:1; transition-delay:1.2s;}
.map-area .map-list.active .scroll-area .list:nth-child(4){top:0; opacity:1; transition-delay:1.35s;}

.dimd{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8); z-index:20;}
.header-dimd{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:5;}

.list-view-pop{position:fixed; right:-100%; top:0; width:1264px; height:100vh; z-index:21; background:#fff; transition:right 1s ease;}
.list-view-pop.active{right:0;}
.list-view-pop .scroll-area{overflow-y:auto; overflow-x: hidden; width:1264px; height:100%;}
.list-view-pop .scroll-area::-webkit-scrollbar{width:4px; background:rgba(0,0,0,0.2)}
.list-view-pop .scroll-area::-webkit-scrollbar-thumb{background:#666666;}
.list-view-pop .close-btn{position:absolute; top:40px; left:-97px; width:57px; height:57px;}
.list-view-pop .con .img:nth-child(1){width:100%;}
.list-view-pop .con .img:nth-child(1) img{width:100%;}
.list-view-pop .con .img:nth-child(2){padding:100px 0 118px 154px;}
.list-view-pop .con .img:nth-child(2) img{width:1376px;}

/* footer */
footer{width:100%; background:#000;}
footer > a{display:block;}
footer > a .top-area{border-bottom:1px solid rgba(255,255,255,0.2)}
footer > a .top-area p{margin:0 auto; padding:40px 0; width:1832px;}
footer > a .top-area img{width:1832px;}
footer > a .bot-area{margin:0 auto; padding:100px 0 107px; width:1832px;}
footer > a .bot-area img{width:1544px;}